.container {
    height: 100%;
}

.alpargatas-content {
    height: 100%;
}

@media (min-width: 1200px) {
    .container {
        width: 100%;
        padding: 0;
        position: relative;
    }
}

.container {
    max-width: 1200px;
}

html {
    /* background-image: linear-gradient(to bottom, #2da9b1 0, #178299 50%, #1a4c7d 100%); */
    /* background-image: url(../images/image001.jpg); */
    /* background-image: url(../images/fundo-havaians.png); */
    height: 100%;
    overflow-y: auto;
    /*background-image: url(../images/bg5.jpg);
    background-size: cover;*/
}

body {
    background-color: inherit;
    position: relative;
}

.panel-body {
    /*  background-image: linear-gradient(to bottom, #dff2f3 0, #dcecf0 50%, #dde4eb 100%); */
    height: 100%;
}

.panel-body-form {
    padding: 0;
}

.panel-default {
    /* height: 90%; */
    padding-bottom: 0px;
    border: none;
}

.panel-default>.panel-heading {
    background-color: #fff;
    background-image: inherit;
    height: 50px;
    border-bottom: 1px solid #ccc;
    border-top: 4px solid #009de0;
    color: #666666;
    text-align: center;
    padding: 13px;
}

.panel-default>.panel-heading a {
    color: #666;
}

.panel-default>.panel-heading>.icon {
    float: left;
}

.panel-default>.panel-heading>.icon-home {
    margin-right: 10px;
}

.form-inline {
    background-color: #fff;
    /*  padding: 10px; */
}

.form-inline .row {
    margin: 0;
}

.form-inline .form-control {
    color: #000000;
    background: #ffffff;
    border: 1px solid #bfbfbf;
    font-size: 0.875rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: normal;
    height: 2.5rem;
    padding: 0;
    width: 100%;
    border: solid 1px #e5e5e5;
    box-shadow: rgba(0,0,0,0.1) -3px 3px 0px;
}

.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 100%;
}

.open>.dropdown-menu {
    display: block;
    width: 100%;
    padding: 0;
}

.dropdown-menu li {
    color: #666;
    padding: 10px;
    border-bottom: 2px solid #f5f5f5;
    background-color: #FFFFFF;
}

.dropdown-menu li:last-child {
    border: none;
}

.form-inline .form-control[disabled] {
    background-color: #ddd;
    border: none;
}

.btn-dropdown {
    background: inherit;
    color: #000;
    border: none;
    box-shadow: none;
    height: 38px;
    width: 100%;
}

.product-select-box {
    background: #f5f5f5;
    padding-top: 20px;
    padding-bottom: 20px;
}

.product-footer {
    background: #2bc74f;
    padding: 10px;
    text-align: right;
    color: #FFF;
    font-size: 22px;
}

.btn-clean {
    background: #163579;
    border: solid 2px #FFF;
    padding: 15px 40px;
    border-radius: 40px;
    color: #FFF;
    font-size: 18px;
}

.btn-cotacao {
    background: #163579;
    border: solid 2px #FFF;
    padding: 15px 40px;
    border-radius: 40px;
    color: #FFF;
    font-size: 18px;
}

.btn-salvar {
    background: #163579;
    border: solid 2px #FFF;
    padding: 15px 40px;
    border-radius: 40px;
    color: #FFF;
    font-size: 18px;
}

.span-info2 {
    color: #000000;
    background: #FFFFFF;
    border: 1px solid #bfbfbf;
    font-size: 0.875rem;
    width: 100%;
    text-align: center;
    padding: 12px 20px;
    display: block;
    border: solid 1px #e5e5e5;
    box-shadow: rgba(0,0,0,0.1) -3px 3px 0px;
}

.product-select-box h3 {
    margin-bottom: 10px;
    font-size: 22px;
    color: #163579;
    padding: 5px 0px;
    border-bottom: solid 1px #CCC;
    margin: 10px 15px 20px;
}

.form-inline .form-group {
    display: block;
    justify-content: space-between;
}

.line-recarregar {
    padding: 15px;
}

.form-group label {
    font-size: 14px;
    display: block;
}

.form-group label.multiline {
    line-height: 15px;
    padding-bottom: 2px;
}

.table-products .product span.item-grade + span.item-grade,
.table-products .product span.item-grade {
    border: none;
    border-left: none;
}

.cota-disponivel {
    line-height: 40px;
}

.dropdown-menu {
    background-color: #fff;
}

.dropdown-menu li {
    color: #000;
    padding: 15px 10px;
    background-color: #FFF;
    border-bottom: solid 1px #CCC;
}

.dropdown-menu li:last-child{
    border:none;
}

.dropdown-menu li:hover {
    color: #fff;
    background-color: #163579;
}

.table {
    background: #fff;
}

.dropdown-alpa {
    background: rgb(255, 255, 255);
    line-height: 30px;
    padding: 10px;
    width: 100%;
    display: block;
    margin-bottom: 10px;
    border: solid 1px #e5e5e5;
    box-shadow: rgba(0,0,0,0.1) -3px 3px 0px;
}

.color-test {
    width: 20px;
    height: 20px;
    display: block;
    background: #fff091;
    border-radius: 50px;
    box-shadow: rgba(0,0,0,0.2) -1px 1px 0;
}

.btn-adicionar {
    background: #163579;
    border: solid 2px #FFF;
    padding: 15px 40px;
    border-radius: 40px;
    display: block;
    margin: auto;
    color: #FFF;
    font-size: 18px;
}

.header {
    background: #163579;
}

.header span {
    display: block;
    margin: auto;
    width: 100px;
    background: #FFF;
    text-align: center;
    padding: 5px 0;
}

.dropdown-alpa[disabled] {
    background-color: #fffca3;
    opacity: .5;
}

.bold {
    font-weight: bold;
}

.span-info {
    color: #000000;
    background: #FFFFFF;
    font-size: 0.875rem;
    padding: 10px;
    width: 100%;
    text-align: center;
    border: solid 1px #e5e5e5;
    box-shadow: rgba(0,0,0,0.1) -3px 3px 0px;
}

.line30 {
    height: 30px;
}

.span-info.selected-info {
    padding: 0 5px;
    background-color: #3bb53b;
    color: #fff;
    font-weight: 600;
}

.span-info2.selected-info {
    background-color: #2bc74f;
    color: #fff;
    font-weight: 600;
}

.span-info.cota-info {
    padding: 0 5px;
    background-color: #ffb100;
    color: #fff;
    font-weight: 600;
}

.span-info2.cota-info {
    background-color: #ffb100;
    color: #fff;
    font-weight: 600;
}

.span-info.cota-info.cota-info-estourada {
    background-color: red;
}

.span-info2.cota-info.cota-info-estourada {
    background-color: red;
}

tfoot {
    background: #ccc;
    font-weight: 600;
}

.table>tfoot>tr>td {
    line-height: .8;
}

.table-products .product-footer.cota-estourada {
    background-color: red;
}

.limite {
    display: block;
}


/* ************** Animate ************** */

.alpargatas-content.ng-enter {
    animation: slideInRight 0.2s both ease-in;
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideOutLeft {
    to {
        transform: translateX(-100%);
    }
}

.alpargatas-content.ng-leave {
    animation: slideOutLeft 0.1s both ease-in;
}

.icon-blue {
    color: #2aabd2;
}

.icon-green {
    color: #3c763d;
}

.header-blue {
    background-color: #2aabd2;
}

.header-green {
    background-color: #3c763d;
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
    text-align: center;
    font-weight: 600;
    font-size: 1.5em;
}

.modal-header {
    color: #fff;
}

.modal-body {
    padding: 55px;
    text-align: center;
}


/* ************** TILES ************** */

.tiles {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    /*  justify-content: space-between; */
}

.tile {
    width: 190px;
    height: 230px;
    border: 1px solid #dddddd;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    padding: 15px;
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 20px;
}

.tile i {
    color: #666666;
    opacity: .3;
    display: block;
}

.tile .title {
    color: #007cc0;
    margin-top: 40px;
    font-size: 1.1em;
    display: block;
    line-height: 1.3em;
}

.tile .text {
    display: block;
    color: #000;
    font-size: .9em;
    margin-top: 20px;
    line-height: 1.3em;
}


/* ************** xxx ************** */

.table-products {
    margin: 10px 0;
    padding: 10px 0px;
    background-color: #fff;
}

.table-products .product {
    height: 50d-color: #fff;
    display: flex;
    justify-content: space-around;
}

.table-products .product-header {
    height: 40px;
    padding-top: 10px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    font-weight: 600;
}

.table-products .product:nth-child(odd) {
    background-color: #e8e8e8;
}

.table-products .product-header span,
.table-products .product span {
    padding: 5px 0;
    width: 100%;
    text-align: center;
    min-width: 100px;
}

.table-products .product span + span,
.table-products .product-header span + span {
    border-left: 1px solid #999;
}

.table-products .input-sizes {
    max-width: 80px;
    height: 30px;
    text-align: center;
}

.table-products .input-sizes[disabled] {
    border: none;
    background-color: #666;
    color: #fff;
    font-weight: 600;
}

.table-products .product span input {
    border: solid 1px #e5e5e5;
    padding: 10px;
    box-shadow: rgba(0,0,0,0.1) -3px 3px 0px;
}

.table-products .product span input.ng-invalid-max {
    background-color: red;
    color: #fff;
}

.table-products .product-footer {
    padding: 15px;
    margin-top: 10px;
    background-color: #2bc74f;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #2bc74f;
    border-top: 1px solid #2bc74f;
    color: #fff;
    font-weight: 600;
}

.actions {
    padding: 20px;
    border-top: solid 1px #ddd;
    text-align: center;
    background: #163579;
}

.table-products .product .show-color {
    max-width: 80px;
    height: 30px;
    padding: 5px 10px;
    border: 1px solid #666;
    display: block;
    margin: 0 auto;
}

.table>tbody>tr>td {
    line-height: .9;
}

.img-produto {
    padding: 10px;
    width: 100%;
    border: none;
    margin: auto;
    margin-bottom: 20px;
    background: #FFF;
    box-shadow: rgba(0,0,0,0.1) -6px 6px 0px;
}

.line-row-filtro {
    border-bottom: none;
    padding: 10px;
}


/* ************** LISTA PEDIDO ************** */

.pedidos {
    padding: 20px 0px 0;
    /* overflow-y: scroll;
    height: 310px;
    display: block; */
}

.pedidos h3 {
    background-color: #2bc74f;
    padding: 8px 15px;
    font-size: 20px;
    font-weight: normal;
    color: #FFF;
    text-align: center;
}

.pedidos .pedidoItem {
    display: block;
    width: 100%;
    background-color: #f5f5f5;
    padding: 10px;
    position: relative;
}

.pedidos .pedidoItem:nth-child(odd) {
    background-color: #fff;
}

.pedidos .pedidoItem .total {
    position: absolute;
    right: 10px;
    top: 19px;
    font-weight: 700;
}

.pedidos .pedidoItem .desc {
    color: #666;
    font-size: .8em;
    padding: 2px 10px;
    display: block;
}

.pedidos .pedidoItem .tamanhos {
    padding: 0 10px;
}


/* ************** CADASTRO ************** */

.cadastro-form {
    padding: 10px;
    background-color: #fff;
}

.table-sub {
    max-width: calc(100% - 50px);
    margin: 10px auto 0;
}

.sub-panel {
    background-color: #ddd;
    margin: 20px 10px 0px;
}

.radio-inline {
    display: block;
}

.radio-inline .item-radio {
    line-height: 20px;
}


/* ************** xxx ************** */
