@media screen and (max-width: 768px) {
    .table-products {
        width: 1000px;
    }

    .table {
        width: 1000px;
    }

    .img-produto {
        width: 30%;
    }

    .btn-clean{
        width: 100%;
    }

    .btn-salvar {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 779px) {
    
    .desktop{display:none}
    .mobile{display:block}

    .form-group label.multiline {
        text-align: center;
    }

    .table-products {
        width: 100%;
    }
    
    
    .img-produto {
        width: 100%;
    }

}

@media screen and (max-width: 400px) {
    
    .desktop{display:none}
    .mobile{display:block}

    .form-group label.multiline {
        text-align: center;
    }

    .table-products {
        width: 100%;
    }
    
    
    .img-produto {
        width: 100%;
    }

}