@media screen and (max-width: 768px) {
    .table-products {
        width: 1000px;
    }

    .table {
        width: 1000px;
    }

    .img-produto {
        width: 30%;
    }
}

@media screen and (max-width: 400px) {
    
    .form-group label.multiline {
        text-align: center;
    }
    
    
    .img-produto {
        width: 100%;
    }

}